@import '../../style/theme/index';

$calendar-prefix-cls: #{$cui-prefix}-calendar;

.#{$calendar-prefix-cls} {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $fill-base;
  background-color: #ffffff;

  &-tabbar {
    padding: 43px 100px 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1Px solid $border-color-base;
  }

  &-title {
    font-size: 36px;
    font-family: Helvetica;
    color: #333333;
    line-height: 48px;
  }

  &-weekdays {
    display: flex;
  }

  &-weekday {
    display: inline-block;
    width: calc(100% / 7);
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #606060;
    line-height: 40px;
    padding: 20px 10px;
  }


  .day-content {
    text-align: center;

    .day-c {
      display: inline-block;
      width: calc(100% / 7);
      text-align: center;
      margin-bottom: 8px;
      border-radius: 10px;

      .day {
        font-size: 32px;
        font-weight: 500;
        color: #303030;
        text-align: center;
        padding: 20px 10px;
      }

      .desc {
        height: 28px;
        font-size: 20px;
        font-weight: 400;
        color: #202020;
        text-align: center;
      }
    }

    .active {
      background-color: rgba(251, 96, 82, 0.2) !important;

      .day {
        color: $brand-error !important;
      }

    }

    .now {
      background-color: $brand-primary;

      .day {
        color: $color-text-base-inverse;
      }

    }

    .disable {

      .day {
        color: $color-text-disabled;
      }

    }

    .day_off {
      .day {
        color: $brand-error;
      }
    }
  }

  &-footer {
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cui-popup--top,
.cui-popup--bottom {
  height: 80%;
}

.cui-popup--left,
.cui-popup--right {
  height: 100%;
}

.cui-popup__close-icon {
  top: 11px;
}